%icon {
	//border-radius: 50%;
	&:hover{
	  opacity: 0.8;  
	} 
}

.icon--small {
	@extend %icon;
	width: 25px;
	height: 25px;
	border-radius: 50%;
}

.icon--middle {
	@extend %icon;
	width: 55px;
	height: 55px;
	border-radius: 50%;
}

.icon--large {
	@extend %icon;
	width: 120px;
	height: 120px;
	border-radius: 50%;
}