/*------------------------------*/
/*BASE                          */
/*------------------------------*/

html {
    font-size: 75%;
	width: 100%;
  	height: 100%;
}

body {
    font-family: 'Noto Sans Japanese', 'sans-serif';
    color: #767676;
	width: 100%;
  	height: 100%;
    background-color: #e5e5e5;
}

a {
    color: #767676;
    text-decoration: none;
}

ul {
    list-style: none;
}

button,input[type=submit]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.wrapper {
    display: flex;
}

.objDisabled {
	background-color: #ccc !important;
}

