/*------------------------------*/
/*HEADER*/
/*------------------------------*/

%header {
    width: 100%;
    height: 40px;
    background-color: #fff;
}

.header {
    @extend %header;
    @include flex-center;
 
    &__title {
        margin-right: auto;
    }
    
    &__nav {
        width: 40%;
        @include flex-between;
        line-height: 1.0;
        
        &-search {
            display: inline-block;
        }
    }
 
    &__sub {
        width: 16%;
        @include flex-between;
        margin-left: auto;
        line-height: 2.0;
    }
}


