/*------------------------------*/
/*LOGIN                         */
/*------------------------------*/

.login-form {
    display: block;
    width: 30%;
    background-color: #fff;
    height: 40%;
    padding-top: 50px;
    margin: 150px auto;
    
    border-radius: 40px;
    
}

.login__text {
    text-align: center;
    font-size: 1.7rem;
}