/*-----------------------------*/
/*USER                         */
/*-----------------------------*/

//フォロー数、お気に入り数などを表すヘッドライン
.user__headline {
    width: 100%;
    @include flex-center;
    background-color: #fff;
    border-top: 1px solid #d3d3d3;
    
    //プロフィール用のアイコンははみ出して配置させる為に絶対配置を利用
    .user-icon {
        position: absolute;
        left: 8%;
        font-size: 10rem;
    }
    
    .user-info {
        width: 50%;
        margin: 0 auto;
        background-color: #fff;
        @include flex-center;

        &__content {
            font-size: 1.6rem;
            line-height: 1.8;
            margin-right: 10px;

            &__main {
                font-weight: bold;
            }

            &__sub {
                font-size: 1.0rem;
                line-height: 1.0;
            }
        }
    }
    
    .user-button {
        margin: auto 10px auto auto;
        padding-bottom: 3px;
    }
    
}

//投稿横に表示されるユーザの情報
.user__about {
    //flex-boxを利用する場合投稿を囲むdivでネストが深くなってしまうので
    //floatを利用して投稿欄へ周り込ませる
    float: left;
    width: 20%;
    height: 300px;
    background-color: #fff;
    margin-top: 80px;
    margin-left: 2%;
    
    &__text {
        text-align: left;
        font-size: 1.2rem;
        line-height: 1.8;
        & li:first-child {
            font-size: 1.5rem;
            font-weight: bold;
            line-height: 1.5;
        }
    } 
    
    &::after{
        @include clearfix;
    }
    
}


//ユーザ画面で現在参照中の要素を表すヘッドテキスト
.user__head-text {
    width: 50%;
    height: 30px;
    background-color: #fff;
    margin: 10px auto;
    
    //テキスト情報
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.5;
}