/*-----------------------------*/
/*USER						 */
/*-----------------------------*/

.user-prof {
	width: 65%;
	background-color: #fff;
	margin: 5px auto;
	padding-bottom: 15px;
	border-bottom: 1px solid #d3d3d3;
	
	&__main {
		
		@include flex-left;
		margin-bottom: 10px;
		
		&-icon {
			border-radius: 50%;
		}
		
		&-button {
			margin: auto 10px 10px auto;
		}
		
		.user-icon {
	 		font-size: 10rem;
		}
	}
	
	&__text {
		font-size: 1.3rem;
		text-align: left;
		padding-bottom: 5px;
		&-name {
			font-weight: bold;
			
		}
		
		&-id {
			color: #b3b3b3;
		}
		
		&-bio {
			display: inline-block;
			margin: 10px 5px;
		}
	}
	
	
	
	&__headline {
		width: 95%;
		border-top: 1px solid #d3d3d3;
		
		//フォロー数、お気に入りなどの情報
		.user-info {
			width: 90%;
			
			background-color: #fff;
			@include flex-between;

			&__content {
				font-size: 1.6rem;
				line-height: 1.8;
				margin-right: 10px;

				//項目名
				&__main {
					font-weight: bold;
				}

				//項目値
				&__sub {
					font-size: 1.0rem;
					line-height: 1.0;
				}
			}
		}
	}
}



